<div class="cart-card d-flex flex-nowrap grid column-gap-3 mb-3">
  <div class="p-2 w-100 flex-fill d-flex flex-column align-items-center text-center" style="background: rgba(155, 132, 109, 0.08);">
      <img src="{{ params.image1 | asset_url }}" alt="{{ params.alt1 }}" width="32" height="32">
      <strong>{{ params.strongtxt1 }}</strong>
      <p class="text-body mb-0">{{ params.txt1 }}</p>
  </div>
  <div class="p-2 w-100 flex-fill d-flex flex-column align-items-center text-center" style="background: rgba(155, 132, 109, 0.08);">
      <img src="{{ params.image2 | asset_url }}" alt="{{ params.alt2 }}" width="32" height="32">
      <strong>{{ params.strongtxt2 }}</strong>
      <p class="text-body mb-0">{{ params.txt2 }}</p>
  </div>
  <div class="p-2 w-100 flex-fill d-flex flex-column align-items-center text-center" style="background: rgba(155, 132, 109, 0.08);">
      <img src="{{ params.image3 | asset_url }}" alt="{{ params.alt3 }}" width="32" height="32">
      <strong>{{ params.strongtxt3 }}</strong>
      <p class="text-body mb-0">{{ params.txt3 }}</p>
  </div>
</div>
